<h4>New Author Sign Up</h4>
<div class="container">
<form [formGroup]="credentialsForm">


    Username : <input 
                #username
                formControlName="username"
                type="text"
                placeholder="Enter Username" />
                <span class="error" 
                *ngIf="credentialsForm['controls']['username']['dirty'] 
                && !!credentialsForm['controls']['username']['errors']">Username is either empty or invalid</span>
                <br/>
    
    Password : <input 
                #password
                formControlName="password"
                type="password"
                placeholder="Enter Password" />
                <span class="error" 
                *ngIf="credentialsForm['controls']['password']['dirty'] 
                && !!credentialsForm['controls']['password']['errors']">Password is either empty or invalid</span>
                <br/>
    
    <input 
        type="button"
        value="Sign Up"
        (click)="signup(username.value,password.value)"
        [disabled]="credentialsForm.invalid" />
    
</form>
</div>
