div{
    border-bottom: 2px solid black;
    padding: 5px;
    padding-bottom: 15px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: aquamarine;
    color: darkcyan;
    padding: 4px;
}

a:hover{
    background-color: darkcyan;
    color: black;
}